.git
.gitignore
.gitattributes
.github

.env
.env.*
!.env.example

vendor
node_modules

build
builds
coverage
.phpunit.cache
.phpunit.result.cache
phpunit.xml
phpunit.dist.xml

writable/cache/*
writable/debugbar/*
writable/logs/*
writable/session/*
writable/uploads/*
!writable/cache/.gitkeep
!writable/debugbar/.gitkeep
!writable/logs/.gitkeep
!writable/session/.gitkeep
!writable/uploads/.gitkeep

*.log
*.tmp
*.bak
*.swp
.DS_Store
Thumbs.db
