CI_ENVIRONMENT=production
APP_BASE_URL=https://your-domain.example/
DATABASE_DEFAULT_DBDRIVER=MySQLi
DATABASE_DEFAULT_HOSTNAME=mysql-service-name
DATABASE_DEFAULT_DATABASE=default
DATABASE_DEFAULT_USERNAME=mysql
DATABASE_DEFAULT_PASSWORD=change-me
DATABASE_DEFAULT_PORT=3306
